*

!*/

!.git*

!/.github/workflows/deploy.yml

!/README.md

!/package.json
!/pnpm*.yaml
!/vite.config.js
!/global-top.vue
!/global-bottom.vue

!/slides.md
!/components/*.vue
!/public/**
!/scripts/
!/scripts/*.lua
!/scripts/generate-qr-codes.js

!/demo
!/showcases/*.js
!/showcases/*.ts

node_modules
dist
generated
/public/generated/
