*

!.git*

!/.github/
!/.github/workflows/
!/.github/workflows/deploy.yml

!/README.md

!/package.json
!/pnpm-lock.yaml

!/slides.md

!/components
!/components/*.vue

!/public
!/public/**

node_modules
dist
