*

!*/

!.git*

!/.github/workflows/deploy.yml

!/README.md

!/package.json
!/pnpm*.yaml

!/slides.md
!/components/*.vue
!/public/**
!/scripts/
!/scripts/*.lua

!/demo
!/showcases/*.js
!/showcases/*.ts

node_modules
dist
generated
